.DS_Store
source/build/*
source/.dart_tool/*
source/android/.idea/*
source/android/.gradle/*
source/.packages
source/.flutter-plugins
source/android/local.properties
source/android/.idea/*
source/android/app/release/*
source/kernel_blob.bin

